@accent1: #CA5100;
@accent2: #CA5100;

#RecipeEditor.editor .edit {
	display: inherit;
}

#RecipeEditor .edit {
	display: none;
}

#RecipeEditor.preview .preview {
	display: inherit;
}

#RecipeEditor .preview {
	display: none;
}

.toolbar {
	position: absolute;
	right: 0px;
	text-align: right;
}

.toolbar button {
	position: relative;
	top: -32px;
}