#RecipeEditor.editor .edit
{
    display: inherit;
}

#RecipeEditor .edit
{
    display: none;
}

#RecipeEditor.preview .preview
{
    display: inherit;
}

#RecipeEditor .preview
{
    display: none;
}
