@accent1: #CA5100;
@accent2: #CA5100;
@editableHintColor: #fff7cc;

#RecipeEditor.editor .edit {
	display: inherit;
}

#RecipeEditor .edit {
	display: none;
}

#RecipeEditor.preview .preview {
	display: inherit;
}

#RecipeEditor .preview {
	display: none;
}

.toolbar {
	position: absolute;
	right: 0px;
	text-align: right;
}

.toolbar.forContentEditable {
	position: absolute;
	right: 0px;
	text-align: right;
}

.toolbar button {
	position: relative;
	top: 10px;
}

.toolbar.forContentEditable button {
	top: -32px;
}

[contenteditable="true"] {
	background-color: @editableHintColor;
	min-height: 1em;
}

.menubar {
	margin: 10px 0;
}

.menubar button {
	min-height: 31px;
	padding: 1px 6px;
	vertical-align: top;
}

.menubar .messageLog {
	display: inline-block;
	margin-top: 3px;
	height: 22px;
	line-height: 22px;
	padding: 4px 6px;	
	overflow: hidden;
}
