#Recipe, #RecipeEditor {

	.columnRight {
		width: 290px;
		float: right;
		position: relative;
	}

	.columnLeft {
		width: 580px;
		position: relative;
	}

	.photo {
		width: 100%;	
	}
	
}